@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.hero {
    background: url("../assets/hero_svg.png") no-repeat;
    background-position: right top;
    background-size: contain;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.fade-effect {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    height: 50px;

}

a {
    text-decoration: none;
}

.title-padding {
    padding: 100px;
}

.title-fs {
    font-size: 60px;
}

.p-card {
    height: auto;
}

.card-shadow {
    box-shadow: 0px 10px 15px rgb(219, 219, 219);
}

.gs-btn {
    background-color: #F9FAFB;
    border: 1px solid #DEE2E6;
    transition: 0.3s;
}

.gs-btn:hover {
    background-color: blue;
    color: white;
    border: 1px solid #DEE2E6;
}

.btn-add-post {
    background-color: white;
    border: 1px solid #D2D2D2;
    color: #6C757D;
    padding: 0px 20px;
    display: block;
}

.btn-add-post:hover {
    background-color: #1A56DB;
    border: 1px solid #D2D2D2;
    color: white;
    padding: 0px 20px;
    display: block;
}

.btn-filter {
    background-color: white;
    border: 1px solid #D2D2D2;
    color: #6C757D;
    padding: 0px 20px;
    display: block;
}

.btn-filter:hover {
    background-color: white;
    border: 1px solid #1A56DB;
    color: #3b3b3b;
    padding: 0px 20px;
    display: block;
}


#filter-dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.6rem;
    background-color: white;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.post-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 105px;
    max-height: 105px;
}

.stats{
    background: #f2f5f8 !important;
    color: #000 !important;
}

.articles{
    font-size:10px;
    color: #a1aab9;
}

.followers{
    font-size:10px;
    color: #a1aab9;
}

.rating{
    font-size:10px;
    color: #a1aab9;
}

.popover-header{
    background-color: white;
}

.popover-body {
  padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: auto;
    box-shadow: 0px 10px 15px rgb(219, 219, 219);
    filter: blur(1px);
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-slide .swiper-slide-shadow-left,
.swiper-slide .swiper-slide-shadow-right {
    background-image: none;
}

.purpose-container {
    position: relative;
    background-color: black;
}

.start-btn {
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(89, 161, 255);
}

.gs-fs {
    font-size: 50px;
}

.gs-c-fs {
    font-size: 18px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #4476BD;
    color: white;
    box-shadow: 0px 10px 15px rgb(219, 219, 219);
}

.btn-outline-secondary.checked {
    background-color: limegreen;
}

.btn-border {
    border-width: 0 1px 0 0 !important;
    border-color: #DEE2E6 !important;
}

.link-body:hover {
    background-color: #f8faff;
}

.scholarship-program {
    color: #1A56DB;
}

.link-body:hover .scholarship-program {
    color: #1A56DB;
    text-decoration: underline;
}

.link-body:hover .forum-title {
    color: #1A56DB;
    text-decoration: underline;
}

.clr-blue {
    color: #1A56DB !important;
}

.bg-blue {
    background-color: #1A56DB !important;
}

@media (max-width: 1400px) {
    .title-padding {
        padding-right: 50px;
        padding-left: 50px;
    }

    .title-fs {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .title-padding {
        padding-right: 50px;
        padding-left: 50px;
    }

    .title-fs {
        font-size: 50px;
    }

    .hero-content,
    .responsiveness-section,
    .getStarted-section {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1200px){
    .title-fs {
        font-size: 45px;
    }
}

@media (max-width: 768px) {
    .gs-fs {
        font-size: 35px;
    }    
}

@media (max-width: 576px) {
    .btn-add-post {
        margin-top: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .btn-filter {
        margin-top: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .title-fs {
        font-size: 35px;
    }

    .gs-fs {
        font-size: 25px;
    } 
    
    .gs-c-fs {
        font-size: 14px;
    }
}

@media (max-width: 442px) {
    .user-info {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
}
